body {
    font-family: 'Roboto', sans-serif;
    /* width: 100vw; */
}

.header {
    margin-top: 30px;
    background: #FFFFFF;
}

.wrapper-header {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 37px 0;
}

.wrapper-header::before {
    content: '';
    position: absolute;
    width: 100%;
    /* width: 100vw; */
    height: 604px;
    top: 0;
    left: 0;
    z-index: -1;
    background: center/cover no-repeat;
    background-attachment: fixed;
    filter: brightness(35%);
    /* background-color: rgba(0, 0, 0, 0.0001);
    mix-blend-mode: normal;
    opacity: 0.7; */
}

.parallax-header::before {
    background-image: url('./img/bg1.jpg');
}

.logo-title-text {
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
}

.logo-title-color {
    font-weight: 900;
    color: #14AFCA;
}

.navbar-menu {
    width: 595px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.item-link {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #3E4C4E;
}

.item-link-active {
    color: #14AFCA;
}

/* Header is over */

.wrapper-main {
    width: 1000px;
    margin: 0 auto;
}

.wrapper-main::after {
    content: "";
    position: absolute;
    top: 529px;
    left: 0;
    border-style: solid;
    border-width: 75px 0 0 50vw;
    border-color: transparent transparent transparent #fff;
}

.content {
    padding-top: 161px;
    text-align: center;
    margin-bottom: 100px;
}

.content::after {
    content: "";
    position: absolute;
    top: 529px;
    right: 0;
    border-style: solid;
    border-width: 0 0 75px 50vw;
    transform: rotate(-180deg);
    border-color: transparent transparent transparent #fff;
}

.title {
    font-size: 52px;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 267px;
}

.title::before {
    content: "";
    position: absolute;
    top: 1025px;
    left: 0;
    border-style: solid;
    border-width: 80px 0 0 50vw;
    transform: rotate(180deg);
    border-color: transparent transparent transparent #fff;
}

.title_what {
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    margin-bottom: 15px;
}

.title_what::before {
    content: "";
    position: absolute;
    top: 1025px;
    right: 0;
    border-style: solid;
    border-width: 0 0 80px 50vw;
    border-color: transparent transparent transparent #fff;
}

.text-content {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.899999px;
    color: #424F57;
    margin-bottom: 20px;
}

.text-under-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
}

.companies {
    padding-bottom: 120px;
    background-image: url('./img/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.title-companies {
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    color: #14AFCA;
    text-align: center;
    padding-top: 150px;
}

.text-under-companies {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    letter-spacing: 0.899999px;
    color: #FFFFFF;
    text-align: center;
}

.companies-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.companies-name {
    width: 225px;
    /* width: max-content; */
}

.companies-name-gap {
    margin-bottom: 150px;
}

.companies-name:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    background: #FCFBFB;
}

.text-under-meet-us {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.899999px;
    color: #424F57;
    text-align: center;
}

.meet-us {
    margin-bottom: 270px;
}

.meet-us-list {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 85px;
    margin-top: 50px;
}

.meet-us-name {
    width: 280px;
}

.meet-us-text {
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
}

.testimonials {
    text-align: center;
    margin-bottom: 200px;
    padding-bottom: 150px;
    background-image: url('./img/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.sub-text {
    font-family: 'OpenSans', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin-top: 48px;
    margin-bottom: 28px;
}

.sub-text::before {
    content: "";
    position: absolute;
    top: 2650px;
    left: 0;
    border-style: solid;
    border-width: 70px 0 0 50vw;
    transform: rotate(180deg);
    border-color: transparent transparent transparent #fff;
}

.text-sign {
    font-family: 'OpenSans', sans-serif;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.45px;
    text-align: right;
    color: #FFFFFF;
    padding-right: 200px;
}

.text-sign::before {
    content: "";
    position: absolute;
    top: 2650px;
    right: 0;
    border-style: solid;
    border-width: 0 0 70px 50vw;
    border-color: transparent transparent transparent #fff;
}

.why {
    text-align: center;
    margin-bottom: 100px;
}

.why::after {
    content: "";
    position: absolute;
    top: 3183px;
    left: 0;
    border-style: solid;
    border-width: 75px 0 0 50vw;
    border-color: transparent transparent transparent #fff;
}

.success-formula {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
}

.success-formula::after {
    content: "";
    position: absolute;
    top: 3183px;
    right: 0;
    border-style: solid;
    border-width: 0 0 75px 50vw;
    transform: rotate(-180deg);
    border-color: transparent transparent transparent #fff;
}

.wrapper-footer {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
}

.text-footer {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    color: #3D3C3C
}

.text-footer-bold {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.799999px;
}